version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      # It's nice to receive minor and patch updates grouped together.
      minor-dependencies:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"